body{
    background : linear-gradient(90deg,#84fc03, #03fcad);
}
header{
    display : flex;
    background-color : cyan;
}
header div{
    margin-left : 10px;
    margin-right : 10px;
}
header div h4{
    margin-left : 20px;
    margin-right : 20px;
    margin-bottom : 20px;
}

h1, h4, p, a, h2{
    font-family : 'Cairo', sans-serif;
}
